body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}


h1, .menu {
    background-color: rgb(165, 40, 82);
    padding: 0px 0px 0px 100px;
}

h1 {
    margin: 0;
    height: 55px;
    display: flex;
    align-items: first baseline;
    color: rgb(254, 254, 254);
    background-color: rgb(165, 40, 82);
    font-weight: bolder;
    /* padding-top: 15px; */
    font-size: 30px;
    
}

.menu {
    display: flex;
    gap: 35px;
    padding-bottom: 5px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu a:hover {
    color: #fdbbbb;
}

.art-intro h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 27px;
}

.art-intro p {
    text-align: center;
    font-weight: lighter;
    margin: 0 190px 0 190px;
    color: rgb(68, 64, 64);
    font-size: 15px;
}

/* Responsive - Tablets */

@media (max-width: 768px) {
    h1, .menu {
        padding: 15px 20px;
    }
    .menu {
        gap: 20px;
    }
    .art-intro {
        max-width: 90%;
    }
}

/* for mobile phones */
@media (max_width: 480px) {
    h1 {
        font-size: 24px;
        text-align: center;
        padding: 10px;
    }
    .menu {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .art-intro {
        max-width: 100%;
        padding: 10px;
    }
    .art-intro h2 {
        font-size: 22px;
    }
    .art-intro p {
        font-size: 14px;
        margin: 0 10px;
    }
}