<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
    <h1>Art_Of_Peace_</h1>
    <nav class="menu">
        <a href="#">Home</a>
        <a href="#">Shop</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">About Us</a>
    </nav>
    <div class="art-intro">
        <h2>Art_Of_Peace_</h2>
        <p>Welcome to our art collection! We offer handcrafted Lippan art, Warli paintings, customized paintings, resin coasters, and decorative tealight holders each made with love to add a personal touch to your space. Whether you need festive decor, personalized gifts, or custom artwork, we create unique pieces just for you. Every creation reflects intricate craftsmanship and passion, making each piece truly special. Bring home art that speaks to your soul and adds warmth to your surroundings.</p>
    </div>
</body>
</html>